<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <title>友情链接管理-板块管理-后台管理首页-{$Think.config.webname}</title>
        <php>
            $addCss="";
            $addJs="";
            $currentNav ='添加友情链接 > 板块管理 > 导航管理';
        </php>
    <include file="Common:intohead" />
</head>
<body>
    <div class="wrap"> <include file="Common:head" />
        <div class="mainBody"> <include file="Common:left" />
            <div id="Right">
                <div class="contentArea">
                    <div class="Item hr">
                        <div class="current">添加友情链接</div>
                    </div>
                    <form action="" method="post">

                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table1">
                            <tr>
                                <th width="120">友情链接名称：</th>
                                <td><input name="name" id="name" type="text" value="{$info.name}" class="input" /></td>
                            </tr>
                            <tr>
                                <th>URL：</th>
                                <td><input class="input" id="url" name="url" type="text" size="40" value="{$info.url}" /></td>
                            </tr>
                            <tr>
                                <th>状态：</th>
                                <td>
                                    <select name="status" style="width: 80px;">
                                        <option value="1" selected>启用</option>
                                        <option value="0" <eq name="info['status']" value="0">selected</eq> >禁用</option>
                                    </select>
                                  </td>
                            </tr>
                        </table>
                        <input type="hidden" name="id" value="{$info.id}"/>
                    </form>
                    <div class="commonBtnArea">
                        <button class="btn submit">提交</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
<include file="Common:foot" />
<script type="text/javascript">
    $(".submit").click(function(){
        var name = $("#name").val();
        var url = $("#url").val();
            if(name==''){
            popup.alert("友情链接名称不能为空！");
            return false;
        }
        if($.trim($("input[name='url']").val())==''){
            popup.alert("URL地址不能为空！");
            return false;
        }
            commonAjaxSubmit();
    });
</script>
</body>
</html>
