<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>资讯导航管理-资讯管理-后台管理首页-{$Think.config.webname}</title>
        <php>
            $addCss="";
            $addJs="";
            $currentNav ='板块管理 > 导航管理';
        </php>
        <include file="Common:intohead" />
    </head>
    <body>
        <div class="wrap">
            <include file="Common:head" />
            <div class="mainBody">
                <include file="Common:left" />
                <div id="Right">
                    <div class="Item hr">
                        <div class="current">资讯导航管理</div>
                    </div>
                    <form action="" method="post" id="quickForm">
                        <b>添加导航：</b>
                        <input type="hidden" name="act" value="add" /> &nbsp;
                        <select name="data[pid]">
                            <option value="0">顶级导航</option>
                            <volist name="list" id="vo">
                                <option value="{$vo.id}">{$vo.fullname}</option>
                            </volist>
                        </select>  &nbsp;
                        <input placeholder="你要添加的导航名称" id="newName" class="input" type="text" name="data[name]" value="" /> &nbsp;
                        <button class="btn quickSubmit">确定添加</button>
                    </form>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tab">
                        <thead>
                            <tr align="center">
                                <td width="10%">原导航id</td>
                                <td width="20%">原导航结构 <b title="单击导航隐藏/显示该导航下在子类">[i]</b></td>
                                <td width="20%">上级导航</td>
                                <td width="20%">修改后的名称</td>
                                <td width="20%" align="left">导航地址</td>
                                <td width="10%">状态</td>
                                <td width="10%">操作</td>
                            </tr>
                        </thead>
                        <tbody>
                            <volist name="list" id="tree">
                                <tr pid="{$tree.pid}" id="{$tree.id}">
                                    <td width="10%" align="center">{$tree.id}<input type="hidden" name="id" value="{$tree.id}"/></td>
                                    <td width="20%" class="tree" style="cursor: pointer;">{$tree.fullname}</td>
                                    <td width="20%">
                                        <select name="pid">
                                            <option value="0">顶级导航</option>
                                            <volist name="list" id="vo1">
                                                <if condition="$vo1['id'] eq $tree['pid']">
                                                    <option value="{$vo1.id}" selected="selected" readonly>{$vo1.fullname}</option>
                                                    <else/>
                                                    <option value="{$vo1.id}">{$vo1.fullname}</option>
                                                </if>
                                            </volist>
                                        </select>
                                    </td>
                                    <td width="20%"><input type="text" value="" name="name" class="input" placeholder="你要修改导航的新名称"/></td>
                                    <td width="20%">
                                        <input type="text" value="{$tree.url}" name="url" class="input" placeholder="导航跳转地址"/>
                                    </td>
                                    <td align="center" width="10%"><a href="javascript:changeStatus({$tree.id});" id="status-{$tree.id}" name="{$tree.status}" title="" />{$tree.status|getStatusName}</a></td>
                                    <td align="center" width="10%"><button class="btn opCat">确定</button></td>
                                </tr>
                            </volist>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <form action="" method="post" id="opForm">
            <input id="id" type="hidden" name="data[id]" />
            <input id="act" type="hidden" name="act" value="act" />
            <input id="pid" type="hidden" name="data[pid]" />
            <input id="name" type="hidden" name="data[name]" />
            <input id="url" type="hidden" name="data[url]" />
        </form>
        <div class="clear"></div>
        <include file="Common:foot" />
        <script type="text/javascript">
            $(function(){
                $(".opCat").click(function(){
                    var obj=$(this).parents("tr");
                    $("#id").val(obj.find("input[name='id']").val());
                    $("#act").val('edit');
                    $("#pid").val(obj.find("select[name='pid']").val());
                    $("#name").val(obj.find("input[name='name']").val());
					$("#url").val(obj.find("input[name='url']").val());

                    if($("#act").val()=="del"){
                        popup.confirm('你真的打算删除该导航吗?','温馨提示',function(action){
                            if(action == 'ok'){
                                commonAjaxSubmit("","#opForm");
                            }
                        });
                        return false;
                    }
                    commonAjaxSubmit("","#opForm");
                });
				
                $(".quickSubmit").click(function(){
                    if($("#newName").val()==''){
                        popup.alert("导航名称不能为空滴！");
                        return false;
                    }
                    commonAjaxSubmit("","#quickForm");
                    return false;
                });

                var chn=function(id,op){
                    if(op=="show"){
                        $("tr[pid='"+id+"']").each(function(){
                            $(this).removeAttr("status").show();
                            chn($(this).attr("id"),"show");
                        });
                    }else{
                        $("tr[pid='"+id+"']").each(function(){
                            $(this).attr("status",1).hide();
                            chn($(this).attr("id"),"hide");
                        });
                    }
                }
				
                $(".tree").click(function(){
                    if($(this).attr("status")!=1){
                        chn($(this).parent().attr("id"),"hide");
                        $(this).attr("status",1);
                    }else{
                        chn($(this).parent().attr("id"),"show");
                        $(this).removeAttr("status");
                    }
                });
            });
			
			//修改状态
				function changeStatus(id){
					var statusId = $("#status-"+id).attr('name');
					var status = $("#status-"+id).text();
					$.get("__URL__/changeNavStatus/id/"+id+"/statusId/"+statusId, function(data) {
						if(status=='待审核'){
							$("#status-"+id).find('span').html('审核通过');
							$("#status-"+id).attr('name',1);
							$("#status-"+id).find('span').attr('class','blued');
						}else{
							$("#status-"+id).find('span').html('待审核');
							$("#status-"+id).attr('name',0);
							$("#status-"+id).find('span').attr('class','red');
						}
					  
					});
				}
        </script>
    </body>
</html>
