<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>文章管理-{$Think.config.webname}</title>
<php>
$addCss="";
$addJs="";
$currentNav ='文章管理 > 文章统计';
</php>
<include file="Common:intohead" />
</head>
<body>
<div class="wrap">
    <include file="Common:head" />
    <div class="mainBody">
        <include file="Common:left" />
        <div id="Right">
            <div class="Item hr">
                <div class="current">文章统计</div>
            </div>
            <form action="" method="GET" id="searchForm">
                <b>搜索：</b>
                <select name="company" onchange="searchForm.submit()">
                    <option value="0">请选择单位</option>
                    <volist name=":get_company_list()" id="vo">
                        <option value="{$vo.company}" <if condition="$vo.company eq $_GET['company']"> selected="selected" </if> />{$vo.company}</option>
                    </volist>
                </select>  &nbsp;
                <select name="admin_id" onchange="searchForm.submit()">
                    <option value="0">请选择作者</option>
                    <volist name=":get_admin_list()" id="vo">
                        <option value="{$vo.id}" <if condition="$vo.id eq $_GET['admin_id']"> selected="selected" </if> />{$vo.username}</option>
                    </volist>
                </select>  &nbsp;
                <input placeholder="输入用户名" id="keyword" class="input" type="text" name="keyword" value="{$Think.get.keyword}" /> &nbsp;
                <button class="btn quickSubmit">搜索</button>
            </form>

            <form action="" method="POST" id="myform">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab">
                    <thead>
                        <tr>
                          <td width="50"><label>序号</label></td>
                            <td width="100">用户名</td>
                            <td width="100">单位</td>
                            <td width="300">文章总数</td>
                            <td width="160">审核成功</td>
                            <td width="160">审核失败</td>
                            <td width="100">未审核</td>

                        </tr>
                    </thead>
                    <volist name="admin_list" id="vo">
                        <tr align="center" id="{$vo.id}">
                        	<td>{$vo.id}</td>
                            <td ><span style="display:block; width:120px; text-align:center;">{$vo.username}</span></td>
                            <td>{$vo.company}</td>
                            <td>{$vo.total}</td>
                            <td>{$vo.status1}</td>
                            <td>{$vo.status2}</td>
                            <td>{$vo.status0}</td>
                        </tr>
                    </volist>
                </table>
            </form>
            <div class="commonBtnArea">
                <button class="btn submit">下载统计</button>
                <div style="float:right;"> </div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<include file="Common:foot" />
</body>
</html>

<script type="text/javascript">
$(function(){

    $(".submit").click(function(){
        var searchDat = $('#searchForm').serialize();

        if($(this).attr("disabledSubmit")){
            popup.alert("已提交，系统在处理中...");
            return false;
        }else{
            $(this).attr("disabledSubmit",true).html("提交处理中...");
            //commonAjaxSubmit("__CONTROLLER__/daochu",'#myform');
            window.location.href="__CONTROLLER__/daochu/searchDat/"+searchDat;

            setTimeout(function() { $(".submit").attr("disabledSubmit",'').html("下载统计"); }, 1000);

            return false;
        }
    });
});


function show(id){
    asyncbox.open({
　　　url : '__APP__/News/detail/id/'+id,
　　　width : 960,
　　　height : 600,
	tipsbar : {
　　　　　title : '文章详细信息',
　　　},

　});
}


function AsyncBox_Adapter(id,url,width,height){
　  asyncbox.open({
        id : id,
        title : ' ',
        url : url,
        width : width,
        height : height,
        buttons : [{
            value    : '关闭',                  //按钮文本
            result  : 'ok'             //按钮 result 值，用于按钮事件触发 唯一
        },{
            value    : '取消',                  //按钮文本
            result  : 'new_btn_2'             //按钮 result 值，用于按钮事件触发 唯一
        }],

        ctrlbar : { close : true },
        callback : function(btnRes,cntWin,returnValue){
            if(btnRes=='ok'){
                //alert(cntWin);
                /*var path = cntWin.document.getElementById("path").value;
                $("#thumb").val(path);
                return cntWin.checkForm();　*/
                asyncbox.close(id);
            }
            if(btnRes=='cancel'){
                asyncbox.close(id);
            }

        }
    })
}
</script>