<link rel="stylesheet" type="text/css" href="__STATIC__/css/base.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/css/layout.css" />

<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.lazyload.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/functions.js"></script>
<script type="text/javascript" src="__STATIC__/js/base.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.form.js"></script>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/js/asyncbox/skins/default.css" />
<script type="text/javascript" src="__PUBLIC__/js/asyncbox/asyncbox.js{$addJs}"></script>